{% extends 'base.html.twig' %}

{% macro my_service(h3_title, description, icon_name) %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="service-1 dark">
            <span class="service-1-icon">
                <span class="{{ icon_name }}"></span>
            </span>
            <div class="service-1-contents">
                <h3>{{ h3_title }}</h3>
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
{% endmacro %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                {%  for service in my_services %}
                    {{ _self.my_service(service.h3_title,service.description,service.icon_name) }}
                {%  endfor %}
            </div>
        </div>
    </div>






    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-7 text-center mb-5">
                    <h2 class="scissors text-center">Our Top Client Says</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum
                        necessitatibus eius earum voluptates sed!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="testimonial-2">
                        <div class="d-flex v-card align-items-center mb-4">
                            <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                            <span>Mike Fisher</span>
                        </div>
                        <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet
                                veniam. Ipsam, nam, voluptatum"</p>
                        </blockquote>

                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="testimonial-2">
                        <div class="d-flex v-card align-items-center mb-4">
                            <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                            <span>Jean Stanley</span>
                        </div>
                        <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet
                                veniam. Ipsam, nam, voluptatum"</p>
                        </blockquote>

                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="testimonial-2">
                        <div class="d-flex v-card align-items-center mb-4">
                            <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                            <span>Katie Rose</span>
                        </div>
                        <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet
                                veniam. Ipsam, nam, voluptatum"</p>
                        </blockquote>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
